@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.health{
  
  height: auto;
  width: 100%;
  margin: 20px 0 20px 0;
  padding: 50px;
  border-radius: 20px;
  background-color: beige;
}

.Services-child2{
  float:left;
  width:33%;
}

.Fodder{
  position:relative;
  text-align: center;
  color: white;
  padding: 0 5px;
}

.Veterinary{
  position:relative;
  text-align: center;
  color: white;
  padding: 0 5px;
}

.Ethnoveterinary{
  position:relative;
  text-align: center;
  color: white;
  padding: 0 5px;
}
