<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SID's Farm</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/case.css') }}">
  </head>
  <body>
    <div class="farm">
      <div class="head">
        <div class="text">
          <h1>SID's Farm</h1>
          <p>Established in 2013 in Telangana.</p>
        </div>

      </div>
      <p>
        <br>Started by Dr Kishore Indukuri, an IIT Kharagpur and University of Massachusetts alumni
        <br>
        <br>The product range of the brand comprises whole cow's milk, whole buffalo's milk, skim milk, cow's butter, cow’s ghee, buffalo’s butter, buffalo’s ghee, cow’s curd, buffalo’s curd, and paneer.
        <br>
        <br>“2018, we started selling our products through retail stores as well. We now have a presence in 100 GT and MT stores in Hyderabad. We identify stores that have a good footfall of niche, health-conscious customers and place our products in those stores,” says Dr Kishore Indukuri, Founder and Managing Director, Sid’s Farm.
         We do focused events in these retail stores to engage with customers on weekends by doing sampling events and explaining to them the promise of purity of our brand,” he adds.
         <br>
         <br>“Being in constant and direct touch with customers gives instantaneous feedback on our products and helps improve our quality continuously. Business/ money collection risk is also lower as you sell to more costumer than few big businesses,” he states
         <br>
         <br>Future goal-Our growth plan is to hit 50,000 liters of milk and milk products sold in the next 1.5 years in Hyderabad. Along with a focused Hyderabad growth strategy, we plan to expand into other cities and towns in south India in the next few years.
      </p>
    </div>


  </body>
</html>
