{% extends 'base.html' %}
{% block title %}
MarketSearch page
{% endblock %}
{% block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">



{% endblock %}
{% block content %}

<div>
    <div class="theading">
        <h1>Courses Available</h1>
        <hr>
    </div>
<div class="tstyle">
<table class="table table-hover">
    <thead>

    <tr>
            <!-- Your Columns HERE -->
            <th scope="col">Institute</th>
            <th scope="col">Course Type</th>
            <th scope="col">Course Name</th>
            <th scope="col">Course Track</th>
            <th scope="col">Duration</th>
            <th scope="col">Eligibility Criteria</th>
            <th scope="col">Exam</th>
        </tr>
    </thead>
    <tbody>
        <!-- Your rows inside the table HERE: -->
        {% for item in items %}

                    <tr>

                <td>{{ item.institute }}</td>
                <td>{{ item.courseType }}</td>
                <td>{{ item.courseName }}</td>
                <td>{{ item.courseTrack }}</td>
                <td>{{ item.duration }}</td>
                <td>{{ item.eligibilityCriteria }}</td>
                <td>{{ item.exam }}</td>
            </tr>
        {% endfor %}

    </tbody>
</table>
</div>
</div>

{% endblock %}

    <!--
