{% extends 'base.html' %}
{% block title %}
MarketSearch page
{% endblock %}
{% block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">



{% endblock %}
{% block content %}

<div>
    <div class="theading">
        <h1>Available Trainings</h1>
        <hr>
    </div>
<div class="tstyle">
<table class="table table-hover">
    <thead>

    <tr>
            <!-- Your Columns HERE -->
            <th scope="col">Farm</th>
            <th scope="col">Location</th>
            <th scope="col">Phone No</th>
            <th scope="col">Email</th>
            <th scope="col">Contact Info.</th>

        </tr>
    </thead>
    <tbody>
        <!-- Your rows inside the table HERE: -->
        {% for item in items %}

                    <tr>

                <td>{{ item.farm }}</td>
                <td>{{ item.location }}</td>
                <td>{{ item.number }}</td>
                <td>{{ item.eMail }}</td>
                <td>{{ item.connection }}</td>
            </tr>
        {% endfor %}

    </tbody>
</table>
</div>
</div>

{% endblock %}

    <!--
